/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1, h2 {
    color: #333;
}

/* Navbar Styles */
.navbar {
    background-color: #007bff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #0056b3;
}

/* Services Section Styles */
.services {
    background-color: #fff;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.services h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.services ul {
    list-style-type: none;
    padding: 0;
}

.services li {
    margin-bottom: 15px;
    text-align: center;
}

.services a {
    color: #007bff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    justify-self: start;
    justify-items: start;
}

.services a:hover {
    border-radius: 5px;
    background-color: #e0e0e0;
    color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}